RewriteEngine On

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]

RewriteRule ^sitemap\.xml$ /index.php?eID=sitemap [L]
RewriteRule ^robots\.txt$ /index.php?eID=robots [L]

php_value extension fileinfo.so
php_value extension php_fileinfo.dll